.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header .photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title {
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information .align {
    display: flex;
    margin: .5rem;
}

.align {
    display: flex;
    flex-direction: row;
 
}

.fa-solid.fa-user, .fa-solid.fa-location-dot, .fa-solid.fa-phone, .fa-solid.fa-envelope, .fa-solid.fa-check{
margin-right: .5rem;
}

.skills {
    display: flex;
    flex-direction: column;

}

.skills .tools ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.skills .tools ul li img{
   max-width: 100px;
   margin: 0.5rem;
}

.skills .personal ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.skills .personal ul li {
    margin-left: 2rem;
    padding: .5rem;
}

.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 700;
}

.languages li {
    padding: 1rem;
}


@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas: 
        "photo title"
        "photo information";
    }
    
    .header .photo {
        grid-area: photo;
        margin: 0 auto;
    }
    .header .title {
        grid-area: title;
        text-align: start;
    }
    .header .information {
        grid-area: information;
    }
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    transition: .25s;
}
.acordeon:hover {
    background-color: #55569E;
    border-color: #55569E;
}
.acordeon .trigger {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    border: none;
    font-weight: 700;
}
 .acordeon.open .fa-solid.fa-chevron-down{
    transform: rotate(-180deg);
    transition: .25s;
}

.acordeon.open .content {
 display: none;
}
.acordeon .content {
    display: block;
    padding: 0 1rem 1rem 2rem;
}