* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}
.container {
  margin: .5rem;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#000000));
  background: -moz-linear-gradient(top, #CCCCCC, #000000);
}

@media only screen and (min-width: 768px)  {
  .container {
      max-width: 1024px;
      margin: 1rem auto;
  }

}